{% extends 'layout.html' %}

{% block title %}
    EduPortal - Login
{% endblock %}

{% block content %}
    <h2>Login</h2>
    <h2>Login to an existing account.</h2>
    <div class="container">
        <form class='form-with-validation' action='/users/login/' method='post'>
            {% csrf_token %}
            {{ form }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <button class='form-submit'>Login</button>
        </form>
    </div>
{% endblock %}