{% extends 'layout.html' %}

{% block title %}
    EduPortal - Courses
{% endblock %}

{% block content %}
    <h2>Courses</h2>
    <h2>{{ user.username }}</h2>
    <div class="container">
        <h3>Available Functions</h3>
        <div class="function">
            <a href="/"> Return to Home</a>
            {% if user.isTeacher %}
                <a href="{% url 'courses:course-new' %}">Create Course</a>
            {% endif %}
        </div>
    </div>
    <div class="course-box">
        {% if courses %}
            {% for course in courses %}
                <div class="container">
                    <h3>{{ course.name }}</h3>
                    <div class="function">
                        {% if user.isTeacher %}
                            <a href="{% url 'courses:course-page' course.id %}">Edit Course</a>
                        {% else %}
                            <a href="{% url 'courses:course-page' course.id %}">View Course</a>
                            {% if not course.is_enrolled %}
                                <a href="{% url 'courses:enroll' course.id %}">Enrol in Course</a>
                            {% else %}
                                <span>You are enrolled</span>
                            {% endif %}
                        {% endif %}
                        {% if user.isTeacher %}
                            <form action="{% url 'courses:course-delete' course.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Delete Course</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}