{% extends 'layout.html' %}

{% block title %}
    EduPortal - Course
{% endblock %}

{% block content %}
    <h2>{{ course.name }} Course</h2>
    <h2>{{ user.username }}</h2>
    <div class="container">
        <h3>Available Functions</h3>
        <div class="function">
            <a href="/"> Return to Home</a>
            <a href="{% url 'courses:list' %}"> Return to Course List</a>
        </div>
    </div>
        <div class="container">
            <div class="function">
                <h3>Available Course Functions</h3>
                {% if user.isTeacher %}
                    <a href="{% url 'quizzes:by-course' course.id %}">Edit Course Quizzes</a>
                    <a href="{% url 'videos:list-by-course' course.name %}">Upload Course Videos</a>
                    <a href="{% url 'resources:list-by-course' course.name %}">Upload Course Resources</a>
                {% else %}
                    <a href="{% url 'quizzes:by-course' course.id %}">View Course Quizzes</a>
                    <a href="{% url 'videos:list-by-course' course.name %}">View Course Videos</a>
                    <a href="{% url 'resources:list-by-course' course.name %}">View Course Resources</a>
                {% endif %}
            </div>
        </div>
{% endblock %}