{% extends 'layout.html' %}

{% block title %}
    EduPortal - New Course
{% endblock %}

{% block content %}
    <h2>New Course</h2>
    <h2>{{ user.username }}</h2>
    <div class="container">
        <h3>Available Functions</h3>
        <div class="function">
            <a href="/"> Return to Home</a>
            <a href="{% url 'courses:list' %}"> Return to Course List</a>
        </div>
    </div>
    <div class="container">
        <form class="form-with-validation" action="{% url 'courses:course-new' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="#" class="form-submit" onclick="this.closest('form').submit(); return false;">Create Course</a>
        </form>
    </div>
{% endblock %}