{% extends 'layout.html' %}

{% block title %}
    EduPortal - New Resource
{% endblock %}

{% block content %}
    <h2>New Resource</h2>
    <h2>{{ user.username }}</h2>
    <div class="container">
        <h3>Available Functions</h3>
        <div class="function">
            <a href="/"> Return to Home</a>
            <a href="{% url 'resources:list' %}">Return to All Resources</a>
        </div>
    </div>
    <div class="container">
        <form class="form-with-validation" action="{% url 'resources:resource-new' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button href="#" class="form-submit" onclick="this.closest('form').submit(); return false;">Upload Resources</button>
        </form>
    </div>
{% endblock %}