{% extends 'layout.html' %}
{% load static %}

{% block title %}
    EduPortal - Welcome
{% endblock %}

{% block content %}
    <h2>Welcome</h2>
    <h2>{{ user.username }}</h2>
    <div class="container">
        <h3>Available Functions</h3>
        <div class="function">
            {% if user.is_authenticated %}
                {% if user.isTeacher %}
                    <a href="{% url 'courses:list' %}"> Edit All Courses</a>
                    <a href="{% url 'videos:list' %}">Edit All Videos</a>
                    <a href="{% url 'resources:list' %}">Edit All Resources</a>
                    <a href="/"> Create Quiz</a>
                    <a href="/"> View Quiz Results</a>
                {% else %}
                    <a href="{% url 'courses:list' %}"> View All Courses</a>
                    <a href="{% url 'videos:list' %}">View All Videos</a>
                    <a href="{% url 'resources:list' %}">View All Resources</a>
                    <a href="/"> View Quizzes</a>
                    <a href="/"> View Quiz Results</a>
                {% endif %}
            {% else %}
                <a href="{% url 'users:register' %}"> Register</a>
                <a href="{% url 'users:login' %}"> Login</a>
            {% endif %}
        </div>
    </div>
{% endblock %}